<%= provide(:edit_profile, 'Редактировать') %>
<div class="page-header">
  <h5 class="text-center">Редактирование профиля</h5>
</div>
<div class="ui-form-width">
  <%= form_for :user, url: registration_path(@user), method: :put, html: {class: 'ui equal width form'} do |f| %>
      <h4 class="ui dividing header">Контактные данные</h4>
      <div class="fields">
        <div class="field <%= 'error' if @user.errors[:first_phone].any? %>">
          <%= f.label :first_phone %>
          <%= f.text_field :first_phone, placeholder: 'Название курса' %>
          <%= render 'shared/field_errors', object: @user, field_name: :first_phone %>
        </div>

        <div class="field <%= 'error' if @user.errors[:second_phone].any? %>">
          <%= f.label :second_phone %>
          <%= f.text_field :second_phone, placeholder: 'Краткое имя' %>
          <%= render 'shared/field_errors', object: @user, field_name: :second_phone %>
        </div>
      </div>
      <div class="fields">
        <div class="field <%= 'error' if @user.errors[:email].any? %>">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: 'Название курса' %>
          <%= render 'shared/field_errors', object: @user, field_name: :email %>
        </div>

        <div class="field <%= 'error' if @user.errors[:skype].any? %>">
          <%= f.label :skype %>
          <%= f.text_field :skype, placeholder: 'Краткое имя' %>
          <%= render 'shared/field_errors', object: @user, field_name: :skype %>
        </div>
      </div>
      <h4 class="ui dividing header">Изменение пароля</h4>
      <div class="fields">
        <div class="field <%= 'error' if @user.errors[:password].any? %>">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Введите новый пароль' %>
          <%= render 'shared/field_errors', object: @user, field_name: :password %>
        </div>

        <div class="field <%= 'error' if @user.errors[:password_confirmation].any? %>">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: 'Введите новый пароль повторно' %>
          <%= render 'shared/field_errors', object: @user, field_name: :password_confirmation %>
        </div>
      </div>

      <h4 class="ui dividing header">Введите текущий пароль для сохранения изменений</h4>
      <div class="fields">
        <div class="field <%= 'error' if @user.errors[:current_password].any? %>">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, placeholder: 'Текущий пароль' %>
          <%= render 'shared/field_errors', object: @user, field_name: :current_password %>
        </div>
      </div>


      <h6 class="ui dividing header"></h6>
      <div class="ui buttons margin-left-20">
        <%= link_to 'Вернуться к профилю', user_path(@user), class: 'ui button' %>
        <div class="or"></div>
        <%= f.submit yield(:edit_profile), class: 'ui positive button active' %>
      </div>
  <% end %>
</div>