<div class="sms-login-form">
  <%= form_for @sms, html: { class: 'ui form' } do |f| %>
    <div class="field <%= 'error' if @sms.errors[:title].any? %>">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Введите название рассылки' %>
      <%= render 'shared/field_errors', object: @sms, field_name: :title %>
    </div>
    <div class="two fields">
      <div class="field <%= 'error' if @sms.errors[:sender].any? %>">
        <%= f.label :sender_id %>
        <%= f.collection_select :sender_id, Sender.all, :id, :name, { prompt: 'Выберите отправителя' }, {class: 'ui fluid dropdown' } %> <!--form-control пока не знаю как исправить-->
        <%= render 'shared/field_errors', object: @sms, field_name: :sender %>
      </div>
      <div class="field <%= 'error' if @sms.errors[:contact_list].any? %>">
        <%= f.label :contact_list_id %>
        <%= f.collection_select :contact_list_id, ContactList.all.order(created_at: :desc), :id, :title, { prompt: 'Выберите контактный лист' }, {class: 'form-control' } %>

        <%= render 'shared/field_errors', object: @sms, field_name: :contact_list %>
      </div>
    </div>
    <div class="field text-area-field <%= 'error' if @sms.errors[:content].any? %>">
      <%= f.label :content %>
      <div class="result" id="result">
        <span>количество символов: </span><span id="char-num"></span>
        <span>количество сообщений: </span><span id="sms-count"></span>
      </div>
      <%= f.text_area :content, placeholder: 'Введите текст сообщения', id: 'text-field' %>
      <%= render 'shared/field_errors', object: @sms, field_name: :content %>
    </div>
    <div class="field text-area-field">
        <div class="dropzone" id="my-awesome-dropzone" data-url="<%= import_custom_lists_path %>">
    </div>
    </div>
    <div class="margin-left-30">
      <%= f.submit yield(:create), class: 'ui primary button' %>
      <%= f.submit yield(:resend), :name => "resend[#{@sms.id}]", class: 'ui red button' unless @sms.new_record? %>
    </div>
  <% end %>
</div>