<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Все курсы', courses_path(@material.course_element.course) %>
    <div class="divider"> / </div>
    <%= link_to  @material.course_element.course.name, show_course_index_path(@material.course_element.course, resource: 3) %>
    <div class="divider"> / </div>
    <%= link_to @material.course_element.theme, course_element_materials_path(course_element_id: @material.course_element.id) %>
    <div class="divider"> / </div>
    <div class="active section"><%= @material.title  %></div>
    <div class="divider"> / </div>
  </div>
</div>
<%= link_to 'Распечатать', ' ' , onclick: "printpage()", class: 'btn btn-default print pull-right' %>
<div class="embedded-editor">
  <div class="ui segment no-border">
    <%= raw@material.content %>
  </div>
</div>
