<div class="page-header">
      <div class="ui breadcrumb">
        <div class="section"><%= link_to 'Все курсы', root_path %></div>
        <div class="divider"> / </div>
        <div class="active section"><%= @user.full_name%></div>
        <div class="divider"> / </div>
      </div>

  <h2 class="text-center">Данные о пользователе</h2>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xs-offset-0 col-sm-offset-0 toppad">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.full_name %></h3>
      </div>

      <%= render 'shared/user_show_profile' %>

      <div class="panel-footer">
          <% @user_groups.each do |group| %>
              <%= link_to generate_contract_path(@user, group_id: group.id), class: 'ui primary button' do %>
                  <span class="fa fa-file-pdf-o"></span>
                  &nbsp;Договор(<%= group.course.name %>)
              <% end %>
          <% end %>
          <%= link_to edit_user_path(@user), class: 'ui default button' do %>
              <span class="fa fa-edit"></span>
              Редактировать
          <% end %>
      </div>

    </div>
  </div>

  <%= render 'shared/user_passport_data' %>

</div>