<% if @periods.blank? %>
  <span>По вашему запросу ничего не найдено</span>
<% elsif @group.users.blank? %>
  <span>Нет студентов</span>
<% else %>
  <div class="group-report-table-wrapper">
    <h5 class="ui dividing header">Курс: <%= @group.course.name %>, Группа: <%= @group.name %><%= ", Учебный блок: #{@study_unit.unit}" unless @study_unit.nil? %></h5>
    <div class="group-report-table">
      <div class="fio-table">
        <table class="table table-bordered">
          <tr class="active">
            <td class="header-fixed-height">#</td>
            <td class="header-fixed-height">ФИО</td>
          </tr>
          <% counter = 0 %>
          <% @periods.each do |period| %>
            <% period.users.where(id: @group_students).each do |student| %>
              <% # if student?(student) %>
                <tr>
                  <td class="number"><%= counter += 1 %></td>
                  <td class="fio col-fixed-width"><%= student.name.capitalize %> <%= student.surname.capitalize %></td>
                </tr>
              <% # end %>
            <% end %>
            <% break %>
          <% end %>
        </table>
      </div>
      <div class="marks-table">
        <div class="marks-table-in">
          <table class="table table-bordered">

            <tr class="active">
              <% @periods.each do |period| %>
                <td>
                  <div class="lesson-number">
                    <%= link_to "Занятие##{period.lesson_number}", students_by_teacher_path(period_id: period.id, group_id: @group.id) %>
                  </div>
                  <div class="datetime">
                    <span><%= period.commence_datetime.strftime('%d.%m.%Y') %></span>
                  </div>
                  <div class="stats">
                    <span><%= show_homework_stats(period) %></span>
                  </div>
                </td>
              <% end %>
            </tr>

            <% @periods.each do |period| %>
              <% period.users.where(id: @group_students).each do |student| %>
                <tr>
                  <% student.homeworks.where(period_id: @periods).joins(:period).order('periods.commence_datetime').each do |homework| %>
                    <td class="td-fixed-height td-fixed-width align-center">
                      <% if homework.score > '1' %>

                        <div>
                          <%= link_to homework.score, edit_from_modal_path(homework.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'} unless homework.score == '0' || homework.score == '1' %>
                        </div>

                      <% end %>
                    </td>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
                  <% end %>
                </tr>
              <% end %>
              <% break %>
            <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $('.ui.checkbox').checkbox();
</script>