<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Паспортные данные</h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class=" col-md-4 col-lg-12 ">
          <table class="table table-student-information">
            <tbody>

            <tr>
              <td>Номер:</td>
              <td>
                <%= @user.passport_id %>
              </td>
            </tr>

            <tr>
              <td>Кем выдан:</td>
              <td>
                <%= @user.issued_by %>
              </td>
            </tr>

            <tr>
              <td>Когда выдан:</td>
              <td>
                <%= @user.issue_date.strftime("%d/%m/%Y")  %>
              </td>
            </tr>

            <tr>
              <td>ИНН:</td>
              <td>
                <%= @user.passport_inn %>
              </td>
            </tr>

            <% unless current_user.nil? %>
                    <tr>
                      <td>Фото паспорта:</td>
                      <td>
                        <% if @user.passport_photo.path.nil? %>
                            <span>Нет пасспорта</span>
                        <% else %>
                            <%= link_to download_passport_path(@user.id), class: 'btn btn-primary btn-sm' do  %>
                                <span class="fa fa-download"></span>
                                Скачать
                            <% end %>
                        <% end %>
                      </td>
                    </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>