<% if @group.periods.blank? %>
  <i>На данный момент еще не созданы занятия </i>
<% else %>
  <table class="ui selectable celled table" id="course-index-table">
    <thead>
    <tr>
      <th>&nbsp;&nbsp;&nbsp;#</th>
      <th><i class="fa fa-diamond"></i> Название занятия</th>
      <th><i class="fa fa-calendar-check-o"></i> Дата проведения</th>
      <th><i class="fa fa-gear"></i> Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @group.periods.each do |period| %>
      <tr>
        <td><%= period.lesson_number %></td>
        <td><i class="folder icon"></i> <%= link_to period.title, period_path(period) %></td>
        <td><%= period.commence_datetime.strftime('%d-%m-%y') %></td>
        <td>
          <%= link_to edit_period_path(period, group_id: @group.id), class: 'btn btn-default btn-sm' do %>
            <span class="fa fa-edit"></span>
            Редактировать
          <% end %>
          <%= link_to period_path(period, commence_datetime: period.commence_datetime), class: 'btn btn-danger btn-sm',
                      data: {confirm: "Вы уверены что хотите удалить группу: #{period.title}?"}, method: :delete do %>
            <span class="fa fa-remove"></span>
            Удалить
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>