<div class="page-header">
  <div class="ui breadcrumb">
    <%= link_to 'Отправители', sms_deliveries_url(resource_id: 3) %>
    <div class="divider"> / </div>
    <div class="active section">Список аккаунтов</div>
    <div class="divider"> / </div>
  </div>
  <h5 class="text-center">Список аккаунтов</h5>
</div>
<div class="new-service-login-btn">
  <%= link_to new_sms_service_account_path, class: 'btn btn-default' do %>
    <span class="fa fa-user-plus"></span>    Новый логин
  <% end %>
</div>
<% if @accounts.blank? %>
  <div class="margin-top-30">
    <i><span>Добавьте логин</span></i>
  </div>
<% else %>
  <table class="ui three column selectable celled table">
    <thead>
    <tr>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.login %></td>
        <td><%= account.password %></td>
        <td>
          <%= link_to edit_sms_service_account_path(account), class: 'btn btn-default btn-sm' do %>
            <span class="fa fa-edit"></span>  Редактировать
          <% end %>
          <%= link_to sms_service_account_path(account), method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-danger btn-sm' do %>
            <span class="fa fa-remove"></span>  Удалить
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>