<!DOCTYPE html>
<html>
<head>
  <title>StudentCrm</title>
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'rubin.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%=	 render 'shared/navbar' %>
<div class="container-fluid padding-bottom-80 padding-top-60">
    <%= flash_messages %>
  <%= yield %>
</div>
</body>
<%= render 'shared/semantic' %>

<script>
  clearFlashOnReady();
</script>

</html>